body
{
background-color:#dbb94a;
}

.logoimg{
margin-left:45%;
margin-top:5%;
box-shadow:5px 5px 0px 0px rgba (0,0,0,0.3)    

}
/* DROPDOWN MENU */
#dropbtn{
    background-color:darkslategray;
}
.dropdown{
    width:1000%;
    height:15%;;
    color:dodgerblue;
    padding:5px;
    font-size:75%;
    border-width: 2px;
    border-color:dimgray;
    border-radius:10px;
}


.dropdown:hover, .dropdown:focus{
    
    background-color:darkgray;
}

.menu{
    position:relative;
    display:inline-block;
    margin-top:5%;
    margin-left:32%;
    cursor: pointer;
}
.menu:hover .menulinks {
    display:block;
    background-color:darkslategrey;
}
.menulinks{
    
    display:none;
    position:absolute;
    background-color:dimgray;
    min-width:30%;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0,4);
    z-index:1;
    width:1000%;
}

.menulinks a {
    
    color:dodgerblue;
    padding:10px 10px;
    text-decoration:none;
    display:block;
    background-color:darkslategray;
}

.menulinks a{
    background-color:dimgrey;
}

/* WELCOME TEXT */

.weltext {
    text-align:center;
    font-family: calibri;
    max-width:60%;
    margin-left:20%;
    color:#517b99;
    

    }
#weltext {
    font-size:170%;
    font-family:calibri;
    color:#517b99;
    background-color:rgba (0,0,0,0.4);
}
#copyright {
    margin-top:10%;
    text-align:center;
}
.beforetext{
	text-align:center;
    font-family: calibri;
    max-width:60%;
    margin-left:20%;
    color:#517b99;
    

}